/* Color Styles */

body,
body.overlay {
  color: #3b3b3b;
}

a {
  color: #336600;
}

a:focus,
a:hover {
  color: #ff6633;
}

#page-wrapper {
  background: url("../images/bodybg_green.gif") repeat-x center top #000;
}

#page {
  background: url("../images/outer.gif") no-repeat center top;
}

#header .section {
  background: url("../images/eng-home-banner3.jpg") no-repeat;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #003300;
}

#main,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #fff;
}

.comment .comment-arrow {
  border-color: #fff;
}

.sidebar-first #content {
  border-left: 1px solid #d5d3d0;
}

.sidebar-second #content {
  border-right: 1px solid #edebe6;
}

.two-sidebars #content {
  border-left: 1px solid #d5d3d0;
  border-right: 1px solid #edebe6;
}

.two-sidebars #main,
.sidebar-second #main {
  background-image: url("../images/droit_bg.gif");
  background-position: right top;
  background-repeat: repeat-y;
}

.sidebar .block {
  background-color: #fff;
  border-color: #ccc;
}

.sidebar h2 {
  background: url("../images/khaki_bg.gif") repeat-x;
  border-color: #ccc;
  color: #666633;
}

#footer-wrapper {
  color: #666;
}

#footer-wrapper a {
  color: #666;
}

#footer-wrapper a:focus,
#footer-wrapper a:hover {
  color: #ff6633;
}

#footer {
  background: #eee url("../images/footerbg.gif") no-repeat;
  border: none;
}

#footer ul.menu li a {
  border-color: #666;
}

.tabs ul.primary li a.active {
  background-color: #fff;
}

.tabs ul.primary li.active a {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

#breadcrumb {
  border-color: #d5d3d0;
}
