/* Color Styles */

body,
body.overlay {
  color: #3b3b3b;
}

.comment .comment-arrow {
  border-color: #ffffff;
}

#page-wrapper {
  background: url("../images/bodybg_green.gif") repeat-x center top #000;
}

#page {
  background: url("../images/outer.gif") no-repeat center top;
}

#main,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}

.tabs ul.primary li a.active {
  background-color: #ffffff;
}

.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#header .section {
  background: url("../images/eng-home-banner3.jpg") no-repeat;
}

a {
  color: #336600;
}

a:active
a:focus,
a:hover {
  color: #ff6633;
}

.sidebar .block {
  background-color: #fff;
  border-color: #ccc;
}

.sidebar h2 {
  background: url("../images/khaki_bg.gif") repeat-x;
  border-color: #ccc;
  color: #666633;
}

#sidebar-second {
  background: url("../images/droit_bg.gif") repeat-y;
}

#footer {
  background: #eee url("../images/footerbg.gif") no-repeat;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #003300;
}
