/* Basic Layout RTL Styles */

#content,
#sidebar-first,
#sidebar-second {
  float: right;
}

#language-switcher {
  left: 0;
  right: auto;
}

.region-header {
  float: left;
}

#secondary-menu {
  left: 0;
  right: auto;
}
