/* Basic Layout Styles */

html,
body,
#page  {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  min-width: 986px;
}

#header div.section,
#featured div.section,
#messages div.section,
#main,
#footer {
  margin-left: auto;
  margin-right: auto;
  width: 986px;
}

#header div.section {
  position: relative;
}

.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}

.with-secondary-menu .region-header {
  margin-top: 3em;
}

.without-secondary-menu .region-header {
  margin-top: 15px;
}

#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}

#content,
#sidebar-first,
#sidebar-second {
  display: inline;
  float: left; /* LTR */
  position: relative;
}

.one-sidebar #content {
  width: 729px;
}

.two-sidebars #content {
  width: 472px;
}

.no-sidebars #content {
  width: 986px;
}

#sidebar-first,
#sidebar-second {
  width: 256px;
}

#content .section,
.sidebar .section {
  padding: 0 15px;
}

#breadcrumb {
  padding: 0 15px;
}

#footer {
  width: 986px;
}
