/* On The Web */

#social-media {
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
}

#social-media span,
#social-media a {
  display: inline-block;
}

#social-media span {
  margin: 0 5px 5px;
}

#social-media a:hover img {
  -webkit-filter: grayscale(1);
  filter: gray;
  filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"grayscale\"><feColorMatrix type=\"saturate\" values=\"0\" /></filter></svg>#grayscale");
}



/* Google Site Search */

.content .searchhead {
  margin-bottom: 0;
}

ol.google-search-results {
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0; /* LTR */
}

.google-search-results .gss-result {
  border-bottom: 1px solid #d5d3d0;
  padding: 1em 0;
}

.google-search-results .gss-result img {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
}

.google-search-results .gss-result .gss-search-snippet-info .gss-search-snippet {
  margin: 0;
}

.google-search-results .gss-result .gss-search-snippet-info .gss-search-url {
  font-size: small;
  font-style: normal;
}

div.google-search-pager ul.pager {
  margin-bottom: 1em;
  padding: 0;
}



/* Views Slideshow */

.view .skin-default {
  margin: 0 auto;
  position: relative;
  width: 480px;
}

.view .skin-default .views-slideshow-controls-text {
  display: none;
}

.view .skin-default:hover .views-slideshow-controls-text {
  display: block;
}

.views_slideshow_main {
  -webkit-box-shadow: 0 1px 5px 0 #4a4a4a;
  box-shadow: 0 1px 5px 0 #4a4a4a;
  height: 289px;
}

.views-field-field-slide-image img {
  display: block;
}

.views-field-field-slide-caption {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  color: #fff;
  font-size: small;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
}

.views-field-field-slide-caption a {
  color: #fff;
  text-decoration: underline;
}

.views-field-field-slide-caption a:active,
.views-field-field-slide-caption a:focus,
.views-field-field-slide-caption a:hover {
  color: #ff6633;
  text-decoration: none;
}

.views-field-field-slide-caption p {
  margin: 5px;
}

.views-slideshow-pager-fields {
  line-height: 1;
  margin-top: 10px;
  text-align: center;
}

.views-slideshow-pager-field-item {
  background: url("../images/bullets.png") no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.views-slideshow-pager-field-item.active {
  background-position: 0 -22px;
}

.views-slideshow-controls-text span {
  position: absolute;
  top: 129px;
  z-index: 900;
}

.views-slideshow-controls-text-previous {
  left: 15px; /* LTR */
}

.views-slideshow-controls-text-pause {
  display: none;
}

.views-slideshow-controls-text-next {
  right: 15px; /* LTR */
}

.views-slideshow-controls-text-previous,
.views-slideshow-controls-text-next {
  background: url("../images/arrows.png") no-repeat;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  width: 30px;
}

.views-slideshow-controls-text-next {
  background-position: -30px 0; /* LTR */
}



/* CITES Virtual College (block) */

#sidebar-first #block-block-1 {
  border: none;
}

#sidebar-first #block-block-1 .content {
  padding: 0;
}

#sidebar-first #block-block-1 .content p {
  margin-bottom: 0.4em;
  text-align: center;
}

#sidebar-first #block-block-1 .content img {
  vertical-align: middle;
}



/* CITES Trade Dashboard (block) */

#sidebar-first #block-block-2 {
  border: none;
}

#sidebar-first #block-block-2 .content {
  padding: 0;
}

#sidebar-first #block-block-2 .content p {
  margin-bottom: 0.4em;
  text-align: center;
}

#sidebar-first #block-block-2 .content img {
  vertical-align: middle;
}



/* The InforMEA portal (block) */

#sidebar-first #block-block-3 {
  border: none;
}

#sidebar-first #block-block-3 .content {
  padding: 0;
}

#sidebar-first #block-block-3 .content p {
  margin-bottom: 0.4em;
  text-align: center;
}

#sidebar-first #block-block-3 .content img {
  vertical-align: middle;
}



/* Simplenews (block) */

#sidebar-first #block-simplenews-0 .content {
  padding-left: 0;
  padding-right: 0;
}

#sidebar-first #block-simplenews-0 .content p {
  margin: 0;
  font-weight: bold;
  text-align: center;
}



/* Highlights (block) */

#sidebar-second #block-block-4 .content {
  padding: 0;
}

#sidebar-second #block-block-4 .content p {
  margin: 1px;
  text-align: center;
}

#sidebar-second #block-block-4 .content img {
  vertical-align: middle;
}

#sidebar-second #block-block-4 .content hr {
  margin: 0;
}

#sidebar-second #block-block-4 .content a.more-link {
  background: url("../images/arrow-right-orange.gif") 10px 6px no-repeat; /* LTR */
  display: block;
  padding: 3px 10px 3px 30px; /* LTR */
  text-align: left; /* LTR */
}



/* News (block) */

#content #block-views-news-block .content a {
  color: #333;
}

#content #block-views-news-block .content a:active,
#content #block-views-news-block .content a:focus,
#content #block-views-news-block .content a:hover {
  color: #ff6633;
}

#content #block-views-news-block .content .more-link {
  margin: 0.6em 0 1.2em;
  padding-left: 2em; /* LTR */
  text-align: left; /* LTR */
}

#content #block-views-news-block .content .more-link a {
  font-size: small;
}


/* News (page) */

#content .view-news.view-display-id-page ul {
  list-style-image: url("../images/bullet-arrow-green.gif");
}



/* Notification to the Parties (block) */

#content #block-views-parties-notification-block .content span.views-field-field-notification-annexes:before {
  content: url("../images/arrow-right-green-lg.gif");
}

#content #block-views-parties-notification-block .content a {
  color: #333;
}

#content #block-views-parties-notification-block .content a:active,
#content #block-views-parties-notification-block .content a:focus,
#content #block-views-parties-notification-block .content a:hover {
  color: #ff6633;
}

#content #block-views-parties-notification-block .content .more-link {
  margin: 0.6em 0 1.2em;
  padding-left: 2em; /* LTR */
  text-align: left; /* LTR */
}

#content #block-views-parties-notification-block .content .more-link a {
  font-size: small;
}


/* Notification to the Parties (page) */

.view-parties-notification.view-display-id-page #edit-date-filter-min-wrapper,
.view-parties-notification.view-display-id-page #edit-date-filter-max-wrapper,
.view-parties-notification.view-display-id-page #edit-date-filter-min-wrapper label,
.view-parties-notification.view-display-id-page #edit-date-filter-max-wrapper label {
  float: left; /* LTR */
}

.view-parties-notification.view-display-id-page #edit-date-filter-min-wrapper label,
.view-parties-notification.view-display-id-page #edit-date-filter-max-wrapper label {
  margin-right: 0.5em; /* LTR */
  padding: 4px 0;
}

.view-parties-notification.view-display-id-page caption {
  background-color: #f0ede6;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #333;
  font-weight: bold;
  padding: 4px 9px;
  text-align: center;
}

.view-parties-notification.view-display-id-page table tr th {
  background-color: #f0ede6;
}

.view-parties-notification.view-display-id-page table tr th,
.view-parties-notification.view-display-id-page table tr th a,
.view-parties-notification.view-display-id-page table tr th a:hover {
  color: #333;
}

.view-parties-notification.view-display-id-page tr td,
.view-parties-notification.view-display-id-page tr th {
  border-color: #ccc;
}

.view-parties-notification.view-display-id-page tr,
.view-parties-notification.view-display-id-page tr.even,
.view-parties-notification.view-display-id-page tr.odd {
  background-color: #fafaf6;
}

.view-parties-notification.view-display-id-page th {
  text-align: center;
}

.view-parties-notification.view-display-id-page span.status {
  display: inline-block;
  height: 16px;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;
  width: 18px;
}

.view-parties-notification.view-display-id-page span.status.status-0 {
  background: url("../images/status-invalid.gif") no-repeat;
}

.view-parties-notification.view-display-id-page span.status.status-1 {
  background: url("../images/status-valid.gif") no-repeat;
}

.view-parties-notification.view-display-id-page ul {
  list-style-image: url("../images/bullet-rhomb-green.gif");
  list-style-position: inside;
  margin: 0 -9px;
  padding: 0;
}

.view-parties-notification.view-display-id-page ul li {
  border-top: 1px solid #ccc;
  margin-top: 4px;
  padding: 4px 9px 0;
}

.view-parties-notification.view-display-id-page a {
  color: #333;
}

.view-parties-notification.view-display-id-page a:active,
.view-parties-notification.view-display-id-page a:focus,
.view-parties-notification.view-display-id-page a:hover {
  color: #ff6633;
}



/* Calendar (block) */

#content #block-views-calendar-block .content a {
  color: #333;
}

#content #block-views-calendar-block .content a:active,
#content #block-views-calendar-block .content a:focus,
#content #block-views-calendar-block .content a:hover {
  color: #ff6633;
}

#content #block-views-calendar-block .content .field-content p {
  display: inline;
}

#content #block-views-calendar-block .content .more-link {
  margin: 0.6em 0 1.2em;
  padding-left: 2em; /* LTR */
  text-align: left; /* LTR */
}

#content #block-views-calendar-block .content .more-link a {
  font-size: small;
}


/* Calendar (page) */

#content .view-calendar.view-display-id-page ul {
  list-style-image: url("../images/bullet-arrow-green.gif");
}

#content .view-calendar.view-display-id-page h3 {
  background-color: #eef9f2;
  font-weight: bold;
  text-align: center;
}

#content .view-calendar.view-display-id-page .field-content p {
  display: inline;
}



/* External news (block) */

#sidebar-second #block-views-external-news-block .content {
  padding: 0;
}

#sidebar-second #block-views-external-news-block .content ul,
#sidebar-second #block-views-external-news-block .content ul li {
  list-style: none;
  padding: 0;
}

#sidebar-second #block-views-external-news-block .content a {
  border-bottom: 1px dotted #d8cfbe;
  color: #333;
  display: block;
  padding: 3px 10px;
  text-decoration: none;
}

#sidebar-second #block-views-external-news-block .content a:active,
#sidebar-second #block-views-external-news-block .content a:focus,
#sidebar-second #block-views-external-news-block .content a:hover {
  background-color: #f0ede6;
}

#sidebar-second #block-views-external-news-block .content .more-link {
  text-align: left;
}

#sidebar-second #block-views-external-news-block .content .more-link a {
  background-image: url("../images/arrow-right-orange.gif");
  background-position: 10px 6px; /* LTR */
  background-repeat: no-repeat;
  border: none;
  padding-left: 30px; /* LTR */
}


/* External news (page) */

#content .view-external-news.view-display-id-page h3 {
  color: #336600;
  font-weight: bold;
  text-align: center;
}

#content .view-external-news.view-display-id-page ul {
  list-style-image: url("../images/bullet-rhomb-green.gif");
}



/* Press releases (page) */

#content .view-press-releases.view-display-id-page ul {
  list-style-image: url("../images/bullet-arrow-green.gif");
}



/* Resolutions (page) */

.view-resolutions.view-display-id-page .view-header a {
  font-weight: bold;
}

.view-resolutions.view-display-id-page caption {
  background-color: #f0ede6;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #333;
  font-weight: bold;
  padding: 4px 9px;
  text-align: center;
}

.view-resolutions.view-display-id-page tr td,
.view-resolutions.view-display-id-page tr th {
  border-color: #ccc;
}

.view-resolutions.view-display-id-page tr,
.view-resolutions.view-display-id-page tr.even,
.view-resolutions.view-display-id-page tr.odd {
  background-color: #fafaf6;
}
