/* Reset Styles */

caption,
th,
td {
  text-align: right;
}

blockquote {
  border-left: none;
  border-right: 4px solid #afafaf;
}

blockquote:before {
  content: "\201D";
}

blockquote:after {
  content: "\201C";
}

tr td,
tr th {
  text-align: right;
}



/* List Styles */

.region-content ul,
.region-content ol {
  padding: 2.5em 0 0.25em 0;
}

.item-list ul li {
  padding: 0.2em 0 0 0.5em;
}

ul.tips {
  padding: 0 1.25em 0 0;
}

.block ol,
.block ul {
  padding: 0 1em 0 0;
}



/* Header */

#logo {
  padding: 15px 10px 15px 15px;
}

#logo,
#name-and-slogan,
.region-header .block,
.region-header #block-user-login .form-item,
.region-header #block-user-login .item-list li {
  float: right;
}

#name-and-slogan {
  margin: 0 15px 30px 0;
}

.region-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}

.region-header #block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em;
}

.region-header #block-user-login ul.openid-links li.last {
  padding-right: 0;
}

.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  background-position: right -3px;
  padding-left: 0;
  padding-right: 20px;
}



/* Main Menu */

#main-menu .nice-menu {
  text-align: right;
}

#main-menu .nice-menu li.menuparent {
  background-position: left center;
}

#main-menu .nice-menu li li.menuparent {
  background-image: url("../images/arrow-left-black.gif");
}



/* Secondary Menu */

#secondary-menu-links {
  float: left;
}



/* Content */

.submitted .user-picture img {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

.field-type-taxonomy-term-reference .field-label {
  padding-left: 5px;
  padding-right: 0;
}

.field-type-taxonomy-term-reference ul.links li {
  padding: 0 0 0 1em;
  float: right;
}

.link-wrapper {
  margin-left: 0;
  margin-right: 236px;
  text-align: left;
}



/* Comments */

.comment .user-picture img {
  margin-right: 0;
}

.comment .attribution {
  float: right;
  padding: 0 0 0 30px;
}

.comment .comment-arrow {
  background-image: url(../images/comment-arrow-rtl.gif);
  margin-left: 0;
  margin-right: -47px;
}

.comment .indented {
  margin-left: 0;
  margin-right: 40px;
}

.comment ul.links li {
  padding: 0 0 0.5em;
}

.comment-unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}



/* Sidebar */

.two-sidebars #main,
.sidebar-second #main {
  background-image: url("../images/sidebar-second-rtl.gif");
  background-position: left top;
}



/* Password Meter */

#password-strength {
  left: auto;
  margin-top: 2em;
  right: 16em;
}

#password-strength-text {
  margin-top: 0;
  float: left;
}

.form-item-pass-pass2 label {
  clear: right;
}



/* Buttons */

input.form-submit,
a.button {
  margin-left: 0.6em;
  margin-right: 0;
}



/* Search Form */

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  margin-left: 5px;
  margin-right: 0;
}



/* Search Form (navigation) */

#search {
  left: 15px;
  right: auto;
}

#search .form-item-search-block-form input {
  background-position: right center;
  padding: 5px 23px 5px 15px;
}



/* Footer */

#footer li a {
  border-left: 1px solid #555;
  border-right: none;
}

#footer li.first a {
  padding-right: 0;
  padding-left: 12px;
}

#footer li.last a {
  border-left: none;
  padding-left: 0;
  padding-right: 12px;
}



/* System Tabs */

.tabs ul.primary li {
  float: right;
  margin: 0 0 0 5px;
  zoom: 1;
}

.tabs ul.secondary li {
  float: right;
}

.tabs ul.secondary li:first-child {
  padding-right: 0;
}

.tabs ul.secondary li:last-child {
  border-left: none;
}

ul.action-links li a {
  background-position: right center;
  padding-left: 0;
  padding-right: 15px;
}



/* Form Elements */

.fieldset-legend span.summary {
  margin-left: 0;
}

#user-profile-form input#edit-submit {
  margin-left: 0;
}

.password-suggestions ul li {
  margin-left: 0;
  margin-right: 1.2em;
}


/* Animated throbber */

html.js input.form-autocomplete {
  background-position: 1% 4px;
}

html.js input.throbbing {
  background-position: 1% -16px;
}


/* Comment form */

.comment-form label {
  float: right;
}

.comment-form .form-type-checkbox,
.comment-form .form-radios,
.comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px;
}

#edit-actions input {
  margin-left: 0.6em;
  margin-right: 0;
}



/* Shortcut Links */

.shortcut-wrapper h1#page-title {
  float: right;
}



/* Poll */

.poll .vote-form {
  text-align: right;
}

.poll .total {
  text-align: left;
}



/* Color Form */

.color-form #palette {
  margin-left: 0;
  margin-right: 20px;
}

.color-form .form-item label {
  float: right;
}

.color-form #palette .lock {
  left: 0;
  right: -20px;
}
